@import url("https://fontsapi.zeoseven.com/452/main/result.css");

table {
    font-size: 120%;
}

span.hg {
    font-family: 'HanaMinA';
    border-width: 1px;
    border-color: #ccc;
    border-style: solid;
    background: #efefef;
    padding: 0px 2px;
    margin: 0px;
    white-space: nowrap;
    font-size: 150%;
}

span.vs {
    font-size: 25%;
}

div.char {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 1px 0px;
}

div.main {
    font-family: 'HanaMinA';
    font-size: 150px;
    line-height: 1.3;
    margin: 0px;
}

div.bottom, div.top {
    background: #eee;
    padding: 5px;
    text-align: center;
}

div.bottom span, div.top span {
    margin: 0px 5px;
}
