@import url("https://fontsapi.zeoseven.com/292/main/result.css");

body {
    font-family: "LXGW WenKai";
    font-weight: normal;
    font-size: 20px;
    background-image: url("assets/nina-bg-export.png");
    background-repeat: repeat;
    background-attachment: fixed;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1200px;
}

table {
  width: 100%;
  max-width: 1080px;
  background-color: black;
  color: white;
  border: solid 4px white;
  outline: solid 2px black; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 4px;
}

textarea {
    font-family: "LXGW WenKai Mono", monospace;
    color: black !important;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    cursor: text;
    overflow-wrap: break-word;
    background-color: #fff !important;
    column-count: initial !important;
    margin: 0em 0em 0em 0em;
    border: 1px solid #7f9db9;
    padding: 4px;
    white-space: pre-wrap;
    font-size: 20px;
    width: 600px;
    height: 200px;
}

input {
    font-family: "LXGW WenKai Mono", monospace;
    border: 1px solid #7f9db9;
    background-color: #fff !important;
    color: black !important;
    box-sizing: border-box;
    appearance: none;
    border-radius: 0;
    font-size: 20px;
    cursor: text;
}

.navbar {
            background-color: #00B800;
            background: linear-gradient(180deg,rgba(0, 184, 0, 1) 0%, rgba(184, 248, 24, 1) 100%);
            border: 2px outset #c0c0c0;
            padding: 4px;
            margin-bottom: 16px;
        }
        
        .nav-links {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
        }
        
        .nav-links li {
            margin: 0 4px;
        }
        
        .nav-links a {
            display: block;
            padding: 4px 8px;
            background-color: transparent;
            color: #FFFFFF;
            text-decoration: none;
            border: none;
            font-size: 20px;
            
        }

.home-link {
            padding: 4px 8px;
            color: #FFFFFF;
            font-weight: bold;
            font-size: 40px !important;
        }
