/* 导入霞鹜文楷*/
@import url("https://fontsapi.zeoseven.com/292/main/result.css");
@import url("https://fontsapi.zeoseven.com/292/medium/result.css");
@import url("https://fontsapi.zeoseven.com/292/light/result.css");
/* 导入霞鹜文楷 GB*/
@import url("https://fontsapi.zeoseven.com/292/gb-regular/result.css");
@import url("https://fontsapi.zeoseven.com/292/gb-medium/result.css");
@import url("https://fontsapi.zeoseven.com/292/gb-light/result.css");
/* 导入霞鹜文楷 TC*/
@import url("https://fontsapi.zeoseven.com/292/tc-regular/result.css");
@import url("https://fontsapi.zeoseven.com/292/tc-medium/result.css");
@import url("https://fontsapi.zeoseven.com/292/tc-light/result.css");
/* 导入 Unifont*/
@import url("https://fontsapi.zeoseven.com/572/main/result.css");

body {
    font-family: "LXGW WenKai GB";
    font-weight: normal;
    font-size: 20px;
    background-image: url("noelleshiromiya.github.io/css/assets/nina-bg-export.png");
    background-repeat: repeat;
    background-attachment: fixed;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1200px;
    font-variant-emoji: text;
}

table {
  width: 100%;
  max-width: 1080px;
  background-color: black;
  color: white;
  border: solid 4px white;
  border-radius: 1px;
  outline: solid 2px black; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 4px;
  font-variant-emoji: text;
}
th {
    background-color: white;
    color: black;
}
textarea {
    font-family: "Unifont";
    font-weight: normal;
    border-radius: 1px;
    color: black !important;
    text-transform: none;
    text-indent: 0px;
    display: inline-block;
    text-align: start;
    cursor: text;
    overflow-wrap: break-word;
    background-color: #fff !important;
    column-count: initial !important;
    margin: 0em 0em 0em 0em;
    border: 1px solid #7f9db9;
    padding: 4px;
    white-space: pre-wrap;
    font-size: 16px;
    width: 600px;
    height: 200px;
    font-variant-emoji: text;
}

input {
    font-family: "Unifont";
    font-weight: normal;
    border: 1px solid #7f9db9;
    background-color: #fff !important;
    color: black !important;
    box-sizing: border-box;
    appearance: none;
    border-radius: 1px;
    font-size: 16px;
    cursor: text;
    font-variant-emoji: text;
}

button {
    font-family: "LXGW WenKai GB";
    font-size: 20px;
    box-sizing: border-box;
    border: 1px solid #003c74;
    background: linear-gradient(180deg, #fff, #ecebe5 86%, #d8d0c4);
    box-shadow: none;
    border-radius: 4px;
    font-variant-emoji: text;
}

/* 以下内容来自萌娘百科 https://zh.moegirl.org.cn/index.php?diff=834104 感谢贡献！*/
/* 版权协定：知识共享 署名-非商业性使用-相同方式共享 3.0 */
[lang] { font-family: initial; font-feature-settings: "locl" on; -webkit-font-feature-settings: "locl" on; }
/* 
* 在这里使用 font-feature-settings 属性会让使用“lang”标签的元素强制使用 OpenType 技术显示本地化的变体字（通过激活 locl 标签，即便浏览器本身不直接激活）。
* 如果你使用思源黑体（非 CN、JP、KO、TW 版）、Noto Sans CJK 显示文字的话就有可能看到效果。
* 关于上述这个 CSS 属性的用法，参阅：https://developer.mozilla.org/en-US/docs/Web/CSS/font-feature-settings 注意：此文引用的 OpenType Feature Tags list 同样需要关注。
*/
[lang=zh-hant] { 
	font-family: "LXGW WenKai TC", "LXGW WenKai";
}
[lang=zh-hans] {
	font-family: "LXGW WenKai GB", "LXGW WenKai";
}
[lang=zh-CN] { 
	font-family: "LXGW WenKai GB", "LXGW WenKai";
}
[lang=zh-HK] { 
	font-family: "LXGW WenKai TC", "LXGW WenKai";
}
[lang=zh-TW] { 
	font-family: "LXGW WenKai TC", "LXGW WenKai"; 
}
[lang=ja] { 
	font-family: "LXGW WenKai";
}
[lang=ko] {
	font-family: "LXGW WenKai";
}

.navbar {
            background-color: #00B800;
            background: linear-gradient(180deg,rgba(0, 184, 0, 1) 0%, rgba(184, 248, 24, 1) 100%);
            border: 2px outset #00B800;
            padding: 4px;
            margin-bottom: 16px;
            border-radius: 0px 0px 8px 8px;
        }
        
        .nav-links {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
        }
        
        .nav-links li {
            margin: 0 4px;
        }
        
        .nav-links a {
            display: block;
            padding: 4px 8px;
            background-color: transparent;
            color: #FFFFFF;
            text-decoration: none;
            border: none;
            font-size: 20px;
            
        }

.home-link {
            padding: 4px 8px;
            color: #FFFFFF;
            font-weight: bold;
            font-size: 40px !important;
            text-shadow: rgba(0, 0, 0, 0.5) 0px 4px 4px;
        }

.wikitable {
        background-color: #f8f9fa;
        color: #202122;
        margin: 1em 0;
        border: 1px solid #a2a9b1;
        border-collapse: collapse
    }

    .wikitable > tr > th,.wikitable > tr > td,.wikitable > * > tr > th,.wikitable > * > tr > td {
        border: 1px solid #a2a9b1;
        padding: 0.2em 0.4em
    }

    .wikitable > tr > th,.wikitable > * > tr > th {
        background-color: #eaecf0;
        text-align: center
    }

    .wikitable > caption {
        font-weight: bold
    }
